@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* 设置默认的主题全局变量 */
  --background: #c7dcff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* 设置暗色变量 */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
